.container-fluid.main{
  position: relative;
  padding: 0;
}

.navbar-default {
  background-image: none;
  background-color: #51afed;
  border-radius: 0px;
  border: 0;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-default .navbar-brand {
  font-family: Abel;
  color: #ffffff;
  font-size: 17px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* Gallery*/
.col-md-4 {
  text-align: center;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-md-4:hover {
    top: -10px;
}

.col-md-4 img {
    width: 100%;
    height: auto;
}

.description {
    padding: 15px;
    text-align: center;
}

/*Koding Footer*/

.footer {
  background-color: #51afed;
  font-family: abel;
}

.footer p{
  color: #fff;
}

h2{
  text-align: center;
}

p{
  color: #fff;
}

.col-md-12 {
  text-align: center;
}

.col-md-3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}


