/*Koding Kontainer*/
.container-fluid.main{
  position: relative; 
  padding: 0;
}
/*Koding Navbar*/
.navbar-default {
  background-image: none;
  background-color: #51afed; 
  border-radius: 0px;
  opacity: 0.7;
  border: 0;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/*Koding navbar dan Brand*/
.navbar-default .navbar-brand {
  font-family: Abel;
  color: #ffffff;
  font-size: 17px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
/*Koding Navbar Minimize*/
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/*Koding Tataletak Slideshow*/
.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  height: 700px;
}
/*Koding Bg Tidak Mengecil*/
@media (max-width:991px) {
  .carousel .background {
    background-size: cover;
  }
}
/*Koding Link Bg a-c*/
.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://4.bp.blogspot.com/-s-ju4XpI8BQ/Wyu1UcJpNWI/AAAAAAAADZ0/PSiD216wAZcpJQprXfDbpdE-kp3-DXFOACLcBGAs/s1600/1.jpg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://2.bp.blogspot.com/-0OlApxCXnGc/Wyu1VQDHPmI/AAAAAAAADZ8/hFM1FKqqf7cpdHtB8QeUkrFj00EW7MwsACLcBGAs/s1600/2.jpg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://3.bp.blogspot.com/-elQU_1de-kA/Wyu1VRf9IuI/AAAAAAAADZ4/U758B_1mKjQYwN9BDWKmE16WnHx-MC35wCLcBGAs/s1600/3.jpg");
}
/*Koding Efek Fade Slide*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/*Koding Untuk Mengatur Pergantian Slide*/
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*Koding Logo Wisata Pedia*/
.covertext {
  position: absolute;
  top: 200px; 
  left: 0px; 
  right: 0px;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

/*Koding Gallery*/
.col-md-3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-md-3:hover {
  top: -10px;
}

.col-md-3 img {
  width: 100%;
  height: auto;
}

.description {
    padding: 15px;
    text-align: center;
}

/*Koding Footer*/

.footer {
  background-color: #51afed;
  font-family: abel;
}

.footer p{
  color: #fff;
}

h2{
  text-align: center;
}

p{
  color: #fff;
}

.col-md-12 {
  text-align: center;
}

